<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background: #f3f4f6;
}
</style>
</head>

<body>
<h1>IT IS LOADING CORRECTLY</h1>
</body>
</html>